<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- 
<div
  class="
    fusion-fullwidth
    fullwidth-box
    fusion-builder-row-11
    hundred-percent-fullwidth
    non-hundred-percent-height-scrolling
  "
  style="
    background-color: #242424;
    background-position: center center;
    background-repeat: no-repeat;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    border-width: 0px 0px 0px 0px;
    border-color: #3e3e3e;
    border-style: solid;
  "
>
  <div class="fusion-builder-row fusion-row">
    <div
      class="
        fusion-layout-column
        fusion_builder_column
        fusion-builder-column-23
        fusion_builder_column_1_1
        1_1
        fusion-one-full fusion-column-first fusion-column-last
      "
      style="margin-top: 15px; margin-bottom: 0px"
    >
      <div
        class="fusion-column-wrapper fusion-flex-column-wrapper-legacy"
        style="
          background-position: left top;
          background-repeat: no-repeat;
          background-size: cover;
          padding: 0px;
          min-height: 0px;
        "
      >
        <div class="fusion-text fusion-text-27">
          <div
            id="wpgmza_map"
            data-settings='{"id":"1","map_title":"Mapa de tiendas","map_width":"100","map_height":"400",
            "map_start_lat":"40.42316","map_start_lng":"-3.70761",
            "map_start_location":"40.42316,-3.70761",
            "map_start_zoom":"17","default_marker":"0","type":"4","alignment":"1",
            "directions_enabled":"1","styling_enabled":"0","styling_json":"","active":"0",
            "kml":"","bicycle":"2","traffic":"2","dbox":"1","dbox_width":"100","listmarkers":"0","listmarkers_advanced":"0",
            "filterbycat":"0","ugm_enabled":"0","ugm_category_enabled":"0","fusion":"","map_width_type":"\\%","map_height_type":"px",
            "mass_marker_support":"1","ugm_access":"0","order_markers_by":"1","order_markers_choice":"2","show_user_location":"0",
            "default_to":"","other_settings":{"store_locator_enabled":2,"store_locator_distance":2,"store_locator_default_radius":10,
            "store_locator_not_found_message":"No results found in this location. Please try again.","store_locator_bounce":1,
            "store_locator_query_string":"ZIP \/ C\u00f3digo Postal \/ Direcci\u00f3n","store_locator_default_address":"",
            "wpgmza_store_locator_restrict":"","store_locator_style":"modern","wpgmza_store_locator_radius_style":"modern",
            "map_max_zoom":"1","transport_layer":2,"wpgmza_show_points_of_interest":0,"wpgmza_auto_night":0}}'
            data-shortcode-attributes='{"id":"1"}'
            style="
              display: block;
              overflow: auto;
              width: 100%;
              height: 400px;
              float: left;
            "
            data-map-id="1"
            data-maps-engine="open-layers"
          >
            <div
              class="ol-viewport ol-touch"
              style="
                position: relative;
                overflow: hidden;
                width: 100%;
                height: 100%;
              "
            >
              <div
                class="ol-unselectable ol-layers"
                style="
                  position: absolute;
                  width: 100%;
                  height: 100%;
                  z-index: 0;
                "
              >
                <div
                  class="ol-layer"
                  style="position: absolute; width: 100%; height: 100%"
                >
                  <canvas
                    width="1024"
                    height="400"
                    style="
                      position: absolute;
                      left: 0px;
                      transform-origin: left top;
                      transform: matrix(1, 0, 0, 1, 0, 0);
                    "
                  ></canvas>
                </div>
              </div>
              <div
                class="ol-overlaycontainer"
                style="
                  position: absolute;
                  z-index: 0;
                  width: 100%;
                  height: 100%;
                "
              >
                <div
                  class="ol-overlay-container ol-selectable"
                  style="position: absolute; left: 488px; bottom: 200px"
                >
                  <div class="ol-marker" data-anim="drop" style="height: 43px">
                    <img
                      alt=""
                      src="https://marketcafe.es/wp-content/plugins/wp-google-maps/images/spotlight-poi2.png"
                    />
                  </div>
                </div>
              </div>
              <div
                class="ol-overlaycontainer-stopevent"
                style="
                  position: absolute;
                  z-index: 0;
                  width: 100%;
                  height: 100%;
                "
              >
                <div class="ol-zoom ol-unselectable ol-control">
                  <button class="ol-zoom-in" type="button" title="Zoom in">
                    +</button
                  ><button class="ol-zoom-out" type="button" title="Zoom out">
                    −
                  </button>
                </div>
                <div class="ol-rotate ol-unselectable ol-control ol-hidden">
                  <button
                    class="ol-rotate-reset"
                    type="button"
                    title="Reset rotation"
                  >
                    <span class="ol-compass" style="transform: rotate(0rad)"
                      >⇧</span
                    >
                  </button>
                </div>
                <div
                  class="
                    ol-attribution ol-unselectable ol-control ol-uncollapsible
                  "
                >
                  <ul>
                    <li>
                      ©
                      <a
                        href="https://www.openstreetmap.org/copyright"
                        target="_blank"
                        >OpenStreetMap</a
                      >
                      contributors.
                    </li>
                  </ul>
                  <button type="button" title="Attributions">
                    <span>»</span>
                  </button>
                </div>
                <div class="ol-full-screen ol-unselectable ol-control">
                  <button
                    class="ol-full-screen-false"
                    type="button"
                    title="Toggle full-screen"
                  >
                    ⤢
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="fusion-clearfix"></div>
      </div>
    </div>
  </div>
</div> -->

<div class="my-map">

    <iframe
      width="425"
      height="350"
      frameborder="0"
      scrolling="no"
      marginheight="0"
      marginwidth="0"
      src="https://www.openstreetmap.org/export/embed.html?bbox=-3.7097150087356567%2C40.42226670717777%2C-3.706174492835999%2C40.424133004551514&amp;layer=mapnik"
      style="border: 1px solid black"
    ></iframe
    ><br /><small
      ><a
        href="https://www.openstreetmap.org/#map=19/40.42320/-3.70794&amp;layers=N"
        >View Larger Map</a
      ></small>
      </div>
  </body>
</html>
