/* ####################### CAROUSEL ############################### */
@keyframes scroll {
	0% { transform: translateX(0%); }

	100% { transform: translateX(calc(-250px * 63))}
}


#gradient01{
    /* width: 1900px; */
    width: 100%;
    height: 260px;
}

/* // Styling */

.slide img{
    height: 240px;
    width: 240px;
    border-radius: 20px;
}
.slider {
	background: transparent;
    color: transparent;
    background-color: transparent;
	/* box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125); */
	height: 250px;
	margin: auto;
	overflow:hidden;
	position: absolute;
    /* height: 400px; */
	/* width: 1900px; */
    width: 100%;
    /* margin-left: 345px;  */
    margin-top: 10px;
}

/* .slide-track{ 
    background: red;
    filter: drop-shadow(16px 16px 20px red) invert(75%);
 } */


.slider::before,
.slider::after {
    @include white-gradient;
    content: "";
    height: 240px;
    position: absolute;
    width: 240px;
    z-index: 2;
}
	
.silder::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.silder::before {
    left: 0;
    top: 0;
}

.slide-track {
    animation: scroll 180s linear infinite;
    display: flex;
    width: calc(250px * 72);
}

.slide {
    height: 240px;
    width: 240px;
    margin-left: 5px;
}


/* #gradientBar_home_img{
    width:1900px;
    height: 175px;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
} */

body{
    background-color:azure;
}


/*MEDIA QUERY*/
/* @media only screen and (max-width : 1700px) { */
        
    /* #gradient01{
        width: 1700px;
        height: 260px;
    } */

    /* // Styling */

    /* .slide img{
        height: 240px;
        width: 240px;
        border-radius: 20px;
    } */
    /* .slider {
        width: 1700px;
        height: 250px; */
        /* margin: auto;
        overflow:hidden;
        position: absolute; */
        /* height: 400px; */
        /* margin-left: 345px;  */
        /* margin-top: 10px; */
    /* } */

    /* .slider::before,
    .slider::after {
        @include white-gradient;
        content: "";
        height: 240px;
        position: absolute;
        width: 240px;
        z-index: 2;
    }
         */
    /* .silder::after {
        right: 0;
        top: 0;
        transform: rotateZ(180deg);
    } */

    /* .silder::before {
        left: 0;
        top: 0;
    } */

    /* .slide-track {
        animation: scroll 180s linear infinite;
        display: flex;
        width: calc(250px * 72);
    } */

    /* .slide {
        height: 240px;
        width: 240px;
        margin-left: 5px;
    } */

    
/* } */

/* @media only screen and (max-width : 1500px) {
        
    #gradient01{
        width: 1500px;
    }

    .slider {
        width: 1500px;
    }
} */


/* @media only screen and (max-width : 1300px) {
    #gradient01{
        width: 1300px;
    }

    .slider {
        width: 1300px;
    }
} */


/* @media only screen and (max-width : 1100px) {
    #gradient01{
        width: 1100px;
    }

    .slider {
        width: 1100px;
    }
} */


@media only screen and (max-width : 900px) {

    @keyframes scroll {
        /* 0% { transform: translateX(0%); } */
    
        100% { transform: translateX(calc(-150px * 63))}
    }
    #gradient01{
        /* width: 900px; */
        height: 160px;
    }

    .slider {
        /* width: 900px; */
        height: 150px;
        margin-top: 5px;
    }

    .slide img{
        height: 150px;
        width: 150px;
    }

    .slider::before,
    .slider::after {
        height: 150px;
        width: 150px;
    }

    .slide {
        height: 150px;
        width: 150px;
    }
}


/* @media only screen and (max-width : 700px) {
    #gradient01{
        width: 700px;
    }

    .slider {
        width: 700px;
    }
} */
